#logoHome{
    margin-left: 12vw;
}

.img-box{
    overflow: hidden;    
}

.navOpt{
    margin-top: 1vh;
}

#options,#options2{
   position: absolute;
   left: 62vw;
   top: 9vh;
   z-index: 10;
   color: white;
   background-color: BLACK;
   display: none;
}

#optionsInterior{
    position: absolute;
    left: 45vw;
    z-index: 10;
    color: white;
    background-color: BLACK;
    display: none;
    top: 8.5vh;
 }

#aboutUsOption{
    position: absolute;
    left: 38vw;
    top: 8.5vh;
    color: white;
    background-color: BLACK;
    display: none;
}


 #optionsInterior a, #aboutUsOption a{
    color: white;
    text-decoration: none;
 }

 #optionsInterior a:hover, #aboutUsOption a:hover{
    color: #e1ad01;
    text-decoration: none;
 }


#options2 a{
    color: white;
    text-decoration: none;
}

#options a{
    color: white;
    text-decoration: none;
}

#options a:hover,#options2 a:hover{
    color: #e1ad01;
}

.top{
    text-align: center;
    color: white;
    background-color: black;
}

.top:hover{
    text-align: center;
    color: white;
    background-color: black;
    text-decoration: none;
}
.img-container{
    display: flex;
   width: 109%;
   animation: slide 15s infinite;
}

.img-container img{
    
    width: 100%;
}

@keyframes slide {
    0%{
        transform: translateX(-4%);
    }
    33%{
        transform: translateX(-4%);
    }
    36%{
        transform: translateX(-102%);
    }
    66%{
        transform: translateX(-102%);
    }
    69%{
        transform: translateX(-202%);
    }
    100%{
     transform: translateX(-202%);
    }
}

.name p{
    position: relative;
    top:-120vh;
    font-size: 12vh;
    color: white;
    text-align: center;
    z-index: 50;
}

.shally{
    padding-top: 20vh;
}

.page2{
    margin-top: -56vh;
}

.page2 img{
    width: 20vw;;
}

.head{
    font-size: 3.5vh;
}

.topic{
    font-size: 5vh;
}

.leftpg2{
   
    transform: translateX(-1.5%);
    animation: left;
    animation-duration: 2s;
}
@keyframes left{
   0%{
    transform: translateX(+1.5%);
   }
   
   100%{
    transform: translateX(-1.5%);
   }
}

.rightpg2{
    animation: top;
    animation-duration: 2s;
}
@keyframes top{
  0%{
    transform: translateY(+3%);
  }
  100%{
    transform: translateY(0%);
  }
}


.page3img{
   width: 100%;
   height: 90vh;
}

.mask{
    width: 100%;
    position: absolute;
    height: 90vh;
    background: rgba(0, 0,0 ,0.4 );
}

.page4 img:hover{
    opacity: 0.2;
   animation-name: opac;
   animation-duration: 1s;
   animation-timing-function: ease-in-out;
  
}

.page4 p{
    display: none;
}

.page4 img:hover+p{
    display: block;
}

@keyframes opac{
   from{
    opacity: 1;
   }
   to{
    opacity: 0.2;
   }
}

.page3Inside{
    position: absolute;
   padding: 15vh;
}

.num{
   
    width: 5vw;
    text-align: center;
    font-size: 6vh;
    background-color: #e1ad01;
}

[data-aos="rotate-c"] {transform: rotate(-360deg);transition-property: transform;}
[data-aos="rotate-c"].aos-animate {
    transform: rotate(0deg);
  }

.page4 img{
    height: 30vh;
}

.page4 button{
    border: none;
    background-color: #fff;
    color: grey;
}

.page4 button:hover{
    background-color: black;
  
}


.page5 img{
    height: 70vh;
   width: 100%;
}

.mask1{
    position: absolute;
    width: 100%;
    background: rgba(0, 0,0 ,0.4 );
    height: 74%;
}

.whyUsmask{
    position: absolute;
    width: 100%;
    background: rgba(0, 0,0 ,0.4 );
    height: 74%;
}
.whyUs3 img{
  width: 100%;
margin-bottom: 30vh;
}
.page52 p{
padding: 10vh;
}
.nameT{
    margin-top: -20vh;
}

.page52{
    position: absolute;top: 40%; left: 30%;
}

.swiper {
  
    width: 40%;
    height: 40%;
  }

  .page6{
  margin-top: -56vh;
}

.pageApproach{
    margin-top: -56vh;
}
 
.pageApproach img{ 
    width: 20vw;
}


.page6 img{
    height: 68vh;
}



.mask2{
    -webkit-mask-image: linear-gradient( transparent,black);
    mask-image: linear-gradient( transparent,black);
}

.page7 img{
    width:  98.7vw;
    height: 55vh;
}

.page72{
    position: relative;
    top: -37vh;
   
}

.indexFooter, .indexFooter a{
    margin-top: -17vh;
    background-color: black;
    color: #fff;
}

.page8{
    position: relative;
    top: 78vh;
    background-color: black;
    padding-top: 5vh;
}

.page8 a{
    color: white;
}

.page8 p{
    color: white;
   
}
.page8T{
    font-size: 3vh;
}

.whyUsImg{
    width: 100%;
    height: 40vh;
}

.maskWhyUs{
    position: absolute;
    width: 100%;
    background: rgba(0, 0,0 ,0.4 );
    height:40vh;   
}

.whyUsTopName{
    position: relative;
    top: -25vh;
}

.contactTopName{
    position: relative;
    top: -20vh;
}

.whyUsPage {
margin-top: -4vh;
}
.whyUs3{
    position: relative;
    top: 0vh;
}

.whyUs3 img{
    height: 65vh;
}
.whyUsmask{
    height: 65vh;
}

.bottom{
    position: relative;
    top: 0vh;
    background-color: black;
    margin-top: -61vh;
}

.bottom a, .bottom p,.footer a, .footer p{
    color: white;
}

.footer{
    background-color: black;
}

.whyUsSwiper{
    
    z-index: 100;
   position: relative;
   top: -80vh;
}


#whyUsSwiper{
    position: relative;
    top: -64vh;
}

.blogLSide img{
    height: 6vh;
    width: 6vw;
}

.blogRSide img{
width: 43vw;
}


.blogLSide a,.blogRSide a{
    color: black;
}
.blogLSide a:hover, .blogRSide a:hover{
    color: #e1ad01;
    text-decoration: none;
}

.Event img{
   height: 40vh;
}

.contactImg{
    height: 30vh;
    width: 100%;
}

.Bathroom a{
    color: black;
}
.Bathroom a:hover{
    color: #e1ad01;
    text-decoration: none;
}

.Bathroom img{
    width: 24vw;
}

.navDrop{
    display: none;
}

.Interior a{
    color: black;
}

.Interior{
    margin-top: 1vh;
}

.aboutUs a{
    color: black;
}

.aboutUs{
    margin-top: 1vh;
}

.interiorDrop{
    display: none;
}

.down{
    display: none;
}

.aboutUsPage img{

 width: 39vw;
}

#commercialImg{
    display: none;
}

.interiorDesign img{
    width: 40vw; 
   }
   #commercialImg2 img{
   width: 40vw;
}


.residential img{
    width: 15vw;
}

@media(max-width:768px){

    #logoHome{
        margin-left: 8vw;
    }

    .WhyOption{
        display:none;
        }

    #commercialImg{
        display: block;
    }

    #commercialImg2{
        display: none;
    }

.down{
    display: inline;
}
    #optionsInterior{
        left: 5vw;
        top: 24vh;
        color: black;
        background-color: white;
    }

    #aboutUsOption{
        background-color: #fff;
        left: 5vw;
        top: 19vh;
        padding-right: 30vw;
        
    }

    #optionsInterior a, #aboutUsOption a{
        color: black;
        background-color: #fff;
    }

    #options,  #options a{
       left: 5vw;
       top: 27vh;
       background-color: #fff;
       color: black;
    }

    #options2,#options2 a {
        top: 31vh;
        left: 5vw;
        background-color: #fff;
       color: black;
    }

.navDrop{
    display: block;
}
.top{
    color: black;
    background-color: white;
}  
.page52{
    top:50%;
    left: 10%;
}

.page52 p{
    padding: 3vh;  
}

.nameT{
    margin-top: -6vh;
}

.swiper {
  
        width: 80%;
        height: 40%;  }
 
.img-container img{
        height: 35vh;
    }
.shally{
        padding-top: 6vh;
    }

.name p{
    top: -35vh;
        font-size: 5vh;
    }

.page2{
    margin-top: -30vh;
}

.page2 img{
    width: 85vw;
}

.page3Inside{
        padding: 0;
    }

.page3img, .mask{
       
        height: 165vh;
    }  

.num{
        width: 15vw;
    }

.page4 img{
    height: 25vh;
}

#Bedroom {
    height: 23vh;
}

.page52{
        padding: 3vh;
    }

.page5 img{
        height: 55vh;
    }

.mask1{
        height: 55vh;
    }

.page5 button{
        margin-left: 10vw;
    }

.pageApproach{
    margin-top: -65vh;
}

.pageApproach img{
   width: 60vw;}



.page7 img{
    height: 90vh;
    width: 99vw;
}

.page72{
    padding-left: 16vh;
    top: -70vh;
}
.page8{
    top: 0vh;
    margin-top: -30vh;
  
}

.bottom{
    position: relative;
    top: 0vh;
    background-color: black;
}

.bottom a, .bottom p{
    color: white;
}

.whyUsImg{
    height: 50vh;
}

.whyUs2{
    position: relative;
    margin-top: -10vh;
   
}

#whyUs2Img{
    height: 33vh;
}

.maskWhyUs{
    height: 50vh;
}

.whyUsTopName{
    top: -35vh;
}

.contactTopName{
    top: -22vh;
}

#whyUsSwiper{
    top: -70vh;
}

.blogLSide{
    margin-top: -10vh;
}

.blogLSide img{
    width: 15vw;
}

.blogRSide img{
    width: 95%;
}

.Interior{
    margin-top: -4vh;
    margin-bottom: 2vh;
    color: black;
}

.aboutUs{
    margin-top: -3vh;
}

.interiorDrop{
    display: inline;
}
.blog{
    margin-top: -3vh;
}

.contactForm{
    margin-top: -10vh;
}

.Bathroom img{
    width: 90vw;;
}

.BathroomL{
   margin-top:-20vh;
}

.whyUsPage {
    margin-top: -6vh;
    }

.whyUsPage img{
    width: 90vw;
}

.aboutUsPage img{
    width: 90vw;
    margin-top: -10vh;

   }

   .interiorDesign{
    margin-top: -20vh;  
   }

   .interiorDesign img,#commercialImg2{
    width: 90vw; 
   }
   #commercialImg img{
    width: 90vw; 
   }

   .indexFooter{
    margin-top: -50vh;
   
}


}