.img-box{
    overflow: hidden;
    position: absolute;
    
    left: 0vh;
}

.img-container{
    display: flex;
   width: 109%;
   animation: slide 15s infinite;
}

.img-container img{
    
    width: 100%;
}

@keyframes slide {
    0%{
        transform: translateX(-4%);
    }
    33%{
        transform: translateX(-4%);
    }
    36%{
        transform: translateX(-102%);
    }
    66%{
        transform: translateX(-102%);
    }
    69%{
        transform: translateX(-202%);
    }
    100%{
     transform: translateX(-202%);
    }
}

.name p{
    font-size: 12vh;
    color: white;
    text-align: center;
}

.shally{
    padding-top: 20vh;
}

.page2{
    position: relative;
    top: 70vh;
}

.page2 img{
    height: 28vh;
}

.head{
    font-size: 3.5vh;
}

.leftpg2{
   
    transform: translateX(-1.5%);
    animation: left;
    animation-duration: 2s;
}
@keyframes left{
   0%{
    transform: translateX(+1.5%);
   }
   
   100%{
    transform: translateX(-1.5%);
   }
}

.rightpg2{
    animation: top;
    animation-duration: 2s;
}
@keyframes top{
  0%{
    transform: translateY(+3%);
  }
  100%{
    transform: translateY(0%);
  }
}

.page3{
    position: relative;
    top: 75vh;
}
.page3img{
   width: 100%;
   height: 90vh;
}



.mask{
    width: 100%;
    position: absolute;
    height: 100%;
    background: rgba(0, 0,0 ,0.4 );
}

.page3Inside{
    position: absolute;
   padding: 15vh;
}

.num{
   
    width: 5vw;
    text-align: center;
    font-size: 6vh;
    background-color: #e1ad01;
}

[data-aos="rotate-c"] {transform: rotate(-360deg);transition-property: transform;}
[data-aos="rotate-c"].aos-animate {
    transform: rotate(0deg);
  }
@media(max-width:768px){
 
    .img-container img{
        height: 35vh;
    }
    .shally{
        padding-top: 6vh;
    }

    .name p{
        font-size: 5vh;
    }

    .page2{
        top: 9vh;
    }

    .page3{
       top: 14vh;
    }

    .page3Inside{
        padding: 0;
    }

    .page3img{
       
        height: 200vh;
    }

   

    .num{
        width: 15vw;
    }
}